<div class="parallax">
  <slot />
</div>
<style>
  .parallax {
    min-height: 100vh;
    background-image: url('./assets/parallax-1.avif');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
