---
import { Icon } from 'astro-icon'
import GameBoard from './game-board.astro'
---

<script>
  import './game'
</script>

<div class="container">
  <div class="overlay">
    <div class="title">
      <h2><span>Tic</span><span>Tac</span><span>Toe</span></h2>
    </div>
    <div class="wrap x">
      <Icon name="cross" />
      <span class="left hidden">👈</span>
    </div>
    <GameBoard className="game-board" />
    <div class="wrap o">
      <span class="right hidden">👉</span>
      <Icon name="circle" />
    </div>
  </div>
</div>
<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: calc(var(--gap-size) * 6);
  }

  [astro-icon='cross'],
  [astro-icon='circle'] {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
  }

  .overlay {
    width: 100%;
    background-color: rgba(20, 25, 29, 0.5);
    padding: calc(var(--gap-size) * 4) calc(var(--gap-size) * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.4fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 65vh;
    gap: 50px 0;
  }

  .title {
    grid-area: 1 / 1 / 2 / 4;

    h2 {
      font-size: 100px;
      display: flex;
      gap: 10px;
      font-style: italic;

      :nth-child(1) {
        color: var(--cross-color);
      }
      :nth-child(2) {
        color: var(--board-cell-color);
      }
      :nth-child(3) {
        color: var(--circle-color);
      }
    }
  }
  .x {
    grid-area: 2 / 1 / 3 / 2;
  }
  .game-board {
    grid-area: 2 / 2 / 3 / 3;
  }
  .o {
    grid-area: 2 / 3 / 3 / 4;
  }

  .wrap {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-size) * 3);
    flex-wrap: wrap;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  .left,
  .right {
    font-size: 120px;
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }
</style>
