---
import { Icon } from 'astro-icon'
import GameBoard from './game-board.astro'
---

<script>
  import './game'
</script>

<div class="container">
  <div class="overlay">
    <div class="wrap">
      <Icon name="cross" />
      <span class="left hidden">👈</span>
    </div>
    <GameBoard />
    <div class="wrap">
      <span class="right hidden">👉</span>
      <Icon name="circle" />
    </div>
  </div>
</div>
<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    gap: calc(var(--gap-size) * 6);
  }

  [astro-icon='cross'],
  [astro-icon='circle'] {
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
  }

  .overlay {
    width: 100%;
    background-color: rgba(20, 25, 29, 0.5);
    padding: calc(var(--gap-size) * 4) calc(var(--gap-size) * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    min-height: 65vh;
  }

  .wrap {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-size) * 3);
    flex-wrap: wrap;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  .left,
  .right {
    font-size: 120px;
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }
</style>
