---
import Game from '../components/game/game.astro'
import Layout from '../layouts/layout.astro'
import TopScreen from '../components/top-screen/top-screen.astro'

Astro.cookies.delete('meal_id')
---

<Layout title="Welcome to Astro.">
  <TopScreen />
  <main id="game">
    <Game />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
</style>
