---
import Game from '@components/game/game.astro'
import Lobby from '@components/lobby/lobby.astro'
import TopScreen from '@components/top-screen/top-screen.astro'
import Layout from '@layouts/main-layout.astro'

Astro.cookies.delete('meal_id')
---

<Layout title="Welcome to Astro.">
  <TopScreen />
  <main id="game">
    <Game class="game-main hide" />
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .hide {
    display: none;
  }
</style>
