---
import MealCard from '../components/meal/meal-card.astro'
import { getMealById } from '../domain/helper/get-meal-by-id'
import Layout from '../layouts/layout.astro'

const mealId = Astro.cookies.get('meal_id')
const meal = await getMealById(mealId.value)
Astro.cookies.set('meal_id', meal.id)

if (!meal) {
  return Astro.redirect('/')
}
---

<script>
  const winStatus = localStorage.getItem('game_status')
  const mealNode = document.getElementById('meal')
  if (mealNode && winStatus === 'win') {
    mealNode.classList.remove('hidden')
  }

  if (winStatus !== 'win') {
    location.replace('/')
  }
</script>

<Layout title="Dish">
  <div id="meal" class="container hidden">
    <MealCard meal={meal} />
  </div>
</Layout>

<style>
  .hidden {
    visibility: hidden;
  }
  .container {
    width: 100%;
  }

  .text-center {
    white-space: pre-line;
  }
</style>
