---
import MealCard from '@components/meal/meal-card.astro'
import { getMealById } from '@domain/helper/get-meal-by-id'
import Layout from '@layouts/main-layout.astro'

const mealId = Astro.cookies.get('meal_id')
const meal = await getMealById(mealId.value)
if (!meal) {
  return Astro.redirect('/')
}
Astro.cookies.set('meal_id', meal.id)
---

<script>
  const winStatus = localStorage.getItem('game_status')
  const mealNode = document.querySelector('.hidden')
  if (mealNode && winStatus === 'win') {
    mealNode.classList.remove('hidden')
  }

  if (winStatus !== 'win') {
    location.replace('/')
  }
</script>

<Layout title="Dish">
  <div class="hidden">
    <MealCard meal={meal} />
  </div>
</Layout>

<style lang="scss">
  .hidden {
    visibility: hidden;
  }
</style>
