---
import LobbyInfo from '@components/lobby-info/lobby-info.astro'
import Lobby from '@components/lobby/lobby.astro'
---

<div id="top" class="container">
  <div class="content">
    <h1>
      Play <span class="intro-text-1">Tic</span>
      <span class="intro-text-2">Tac</span>
      <span class="intro-text-3">Toe</span> online
    </h1>
    <h2>Steps:</h2>
    <p class="intro">1. Create lobby</p>
    <p class="intro">2. Tell lobby name to your friend</p>
    <p class="intro">
      3. Game started automatically after second player joining
    </p>
    <Lobby class="lobby-main" />
    <LobbyInfo />
  </div>
</div>
<style lang="scss">
  @import '../../styles/mixins.scss';
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay-color);
    color: var(--white-text);
    padding: calc(var(--gap-size) * 4) 0 calc(var(--gap-size) * 6) 0;
    gap: calc(var(--gap-size) * 3);
    min-height: 65vh;

    @include tablets {
      padding: var(--gap-size) calc(var(--gap-size) * 3);
      align-items: center;
    }

    @include phones() {
      padding: var(--gap-size) calc(var(--gap-size) * 2);
      align-items: flex-start;
    }
  }

  h1 {
    font-size: 60px;

    & .intro-text-1 {
      color: var(--cross-color);
    }
    & .intro-text-2 {
      color: var(--circle-color);
    }
    & .intro-text-3 {
      color: var(--board-cell-color);
    }

    @include tablets() {
      font-size: 40px;
      text-align: center;
    }

    @include phones() {
      font-size: 30px;
      text-align: start;
    }
  }

  h2 {
    font-size: 45px;

    @include tablets() {
      font-size: 30px;
    }
  }

  .intro {
    font-size: 40px;
    line-height: 40px;

    @include tablets() {
      font-size: 30px;
    }

    &-text-1,
    &-text-2,
    &-text-3 {
      font-style: italic;
      font-weight: 800;

      @include tablets() {
        font-size: 30px;
      }
    }
  }
</style>
