<div class="container">
  <div class="content">
    <h1>Do you argue or don't know whose turn it is to cook?</h1>
    <h2>We have a solution for this:</h2>
    <p class="intro">
      Play
      <span class="intro-text-1">Tic</span>
      <span class="intro-text-2">Tac</span>
      <span class="intro-text-3">Toe</span> (whose first move is your choice)
    </p>
    <p class="intro">The loser has to prepare the dish</p>
    <a href="/#game">Play</a>
  </div>
</div>
<style lang="scss">
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay-color);
    color: var(--white-text);
    padding: calc(var(--gap-size) * 4) 0 calc(var(--gap-size) * 6) 0;
    gap: calc(var(--gap-size) * 3);
    min-height: 65vh;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 45px;
  }

  .intro {
    font-size: 40px;
    line-height: 40px;

    &-text-1,
    &-text-2,
    &-text-3 {
      font-size: 45px;
      font-style: italic;
      font-weight: 800;
    }

    &-text-1 {
      color: var(--cross-color);
    }
    &-text-2 {
      color: var(--circle-color);
    }
    &-text-3 {
      color: var(--board-cell-color);
    }
  }

  a {
    text-decoration: none;
    color: var(--white-text);
    background-color: rgb(13 58 70);
    padding: var(--gap-size) calc(var(--gap-size) * 2);
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    font-size: 40px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: rgb(27, 101, 121);
    }

    &:active {
      scale: 0.9;
    }
  }
</style>
