<div class="container">
  <div class="content">
    <h1>Do you argue or don't know whose turn it is to cook?</h1>
    <h2>We have a solution for this:</h2>
    <p class="intro">
      Play
      <span class="intro-text-color-1">Tic</span>
      <span class="intro-text-color-2">Tac</span>
      <span class="intro-text-color-3">Toe</span> (whose first move is your choice)
    </p>
    <p class="intro">The loser has to prepare the dish</p>
    <a href="/#game">Play</a>
  </div>
</div>
<style>
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--overlay-color);
    color: var(--white-text);
    padding: calc(var(--gap-size) * 4) 0 calc(var(--gap-size) * 6) 0;
    gap: calc(var(--gap-size) * 3);
    min-height: 65vh;
  }

  h1 {
    font-size: var(--h1-fz);
  }

  h2 {
    font-size: var(--h2-fz);
  }

  .intro {
    font-size: 30px;
    line-height: 40px;
  }

  .intro-text-color-1,
  .intro-text-color-2,
  .intro-text-color-3 {
    font-style: italic;
    font-weight: 800;
  }

  .intro-text-color-1 {
    color: var(--cross-color);
  }
  .intro-text-color-2 {
    color: var(--circle-color);
  }
  .intro-text-color-3 {
    color: var(--board-cell-color);
  }

  p {
    font-size: var(--default-text-size);
  }
  a {
    font-size: var(--default-text-size);
    text-decoration: none;
    color: var(--white-text);
    background-color: rgb(13 58 70);
    padding: var(--gap-size) calc(var(--gap-size) * 2);
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    font-size: 36px;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
  }

  a:hover {
    background-color: rgb(27, 101, 121);
  }
</style>
