---
const { class: className } = Astro.props
---

<script>
  import './lobby'
</script>
<div class={`${className} lobby`}>
  <div class="lobby-form">
    <input type="text" id="room_id" placeholder="Enter lobby id" />
    <button class="lobby-create-btn">Join lobby</button>
    <div class="lobby-error"></div>
  </div>
</div>
<style lang="scss">
  .lobby {
    display: flex;
    flex-direction: column;
    color: #fff;

    &-error {
      color: red;
      font-size: 16px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        height: 50px;
        font-size: 28px;
        max-width: 200px;
        background-color: rgb(13, 58, 70);
        color: #fff;
        outline: none;
        border: none;
        padding: 10px;

        &::placeholder {
          font-size: 28px;
        }
      }
    }

    &-create-btn {
      width: 200px;
      height: 50px;
      font-size: 30px;
      color: #fff;
      text-align: center;
      background-color: rgb(13, 58, 70);
      font-family: inherit;
    }
  }

  .hide {
    display: none;
  }
</style>
